<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  >
    <title>주식정보</title>		 	    
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/com/modal.css}">     
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/com/com.css}">    
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/mnthAllocation/mnthAllocation.css}">    
    <script type="text/javascript" th:src="@{/JS/utlt/modal.js}"></script>	
	<script type="text/javascript" th:src="@{/JS/utlt/com.js}"></script>  
	<script type="text/javascript" th:src="@{/JS/mnthAllocation/mnthAllocation.js}"></script>  
	<!--차트-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script th:inline="javascript">
	  window.onload = function(){
	    const data = /*[[${		mSelect}]]*/;
		mnthAllocationBarChart(data);
	  }
	
	</script>
</head>
<body>
	<h4>
        <ul class="nav flex-column" th:replace="view/layout/menuBar.html"></ul>
    </h4>
	
	<div class="container01"> 
		<div class="div_title01">검색영역</div>  
	</div>
	
	
	<div class="container01">	
		<div class="div_title01">조회영역</div>  
		<div class="div_body01">
			<table class="type09 table-bordered container" th:if="${!#lists.isEmpty(mSelect)}" >
			  <thead class="text-center">
			    <tr >        
			    <!--년도--><th >년도</th>
			    <!--1월--> <th>01월</th>
			    <!--2월--> <th>02월</th>
			    <!--3월--> <th>03월</th>
			    <!--4월--> <th>04월</th>
			    <!--5월--> <th>05월</th>
			    <!--6월--> <th>06월</th>
			    <!--7월--> <th>07월</th>
			    <!--8월--> <th>08월</th>
			    <!--9월--> <th>09월</th>
			    <!--10월--><th>10월</th>
			    <!--11월--><th>11월</th>
			    <!--12월--><th>12월</th>
			    <!--12월--><th>합계</th>
			    </tr>
			  </thead>
			  <tbody class="text-center">
			    <tr  th:each="mSelect : ${mSelect}">    
                    <!--년도--><td  th:text="${mSelect.TRNSCDATE}"></td>
                    <!--1월--> <td   th:text="${mSelect.JANUARY}" th:classappend="${mSelect.JANUARY   eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '01')"></td>
                    <!--2월--> <td  th:text="${mSelect.FEBRUARY}" th:classappend="${mSelect.FEBRUARY  eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '02')"></td>
                    <!--3월--> <td  th:text="${mSelect.MARCH}"    th:classappend="${mSelect.MARCH     eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '03')"></td>
                    <!--4월--> <td  th:text="${mSelect.APRIL}"    th:classappend="${mSelect.APRIL     eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '04')"></td>
                    <!--5월--> <td  th:text="${mSelect.MAY}"      th:classappend="${mSelect.MAY       eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '05')"></td>
                    <!--6월--> <td  th:text="${mSelect.JUNE}"     th:classappend="${mSelect.JUNE      eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '06')" ></td>
                    <!--7월--> <td  th:text="${mSelect.JULY}"     th:classappend="${mSelect.JULY      eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '07')"></td>
                    <!--8월--> <td  th:text="${mSelect.AUGUST}"   th:classappend="${mSelect.AUGUST    eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '08')"></td>
                    <!--9월--> <td  th:text="${mSelect.SEPTEMBER}"th:classappend="${mSelect.SEPTEMBER eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '09')"></td>
                    <!--10월--><td  th:text="${mSelect.OCTOBER}"  th:classappend="${mSelect.OCTOBER   eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '10')"></td>
                    <!--11월--><td  th:text="${mSelect.NOVEMBER}" th:classappend="${mSelect.NOVEMBER  eq 0 or mSelect.TRNSCDATE  == '합계'} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '11')"></td>
                    <!--12월--><td  th:text="${mSelect.DECEMBER}" th:classappend="${mSelect.DECEMBER  eq 0} ? container-disable : container-able" th:onclick="mnthDetail( [[${mSelect.TRNSCDATE}]], '12')"></td>
                    <!--합계--> <td th:text="${mSelect.ALL_SUM}"  ></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	<br>
	
	<!-- 바차트 시작-->
	<br>
	<div  th:if="${!#lists.isEmpty(	mSelect)}" class="container">
	  <canvas id="bar_chart"></canvas>
	</div>
	<!-- 바차트 종료-->
</body>
</html>
