<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.transaction.mapper.file.FileMapper">

<insert id="fileInsert" parameterType="com.bank.transaction.file.dto.FileDTO" >
        INSERT INTO TB_FILE /* SQL_ID : com.bank.transaction.mapper.file.FileMapper.fileInsert*/
        (
            F_NO, 
            F_NAME, 
            T_NO, 
            CONTENTS
            )
        VALUES(
            (select NVL(MAX(TO_NUMBER(F_NO))+1, 1) from TB_FILE), 
            #{fName}, 
            #{tNo}, 
            #{contents}
            )
</insert>

<update id="fileUpdate" parameterType="com.bank.transaction.file.dto.FileDTO">
        UPDATE TB_FILE /* SQL_ID : com.bank.transaction.mapper.file.FileMapper.fileUpdate*/
        SET 
        <choose>
            <when test = 'clscd.equals("N")'>
                CLSCD = #{clscd}
            </when>
            <otherwise>
                 F_NAME   = #{fName}
                ,CONTENTS = #{contents}
            </otherwise>
        </choose> 
        WHERE 1=1 
        <choose>
            <when test="tNo != null and tNo != ''">
                AND T_NO    = #{tNo}
            </when>
            <otherwise>
                AND F_NO    = #{fNo}
            </otherwise>
        </choose> 
</update>


<!-- 이미지 상세보기-->
<select id = "fileSelect"  resultType="com.bank.transaction.file.dto.FileDTO" parameterType="String" >
        SELECT   /* SQL_ID : com.bank.transaction.mapper.file.FileMapper.fileSelect*/
                F_NO, 
                F_NAME, 
                T_NO, 
                CONTENTS
        FROM    TB_FILE
        WHERE   T_NO = #{tNo}
                AND ROWNUM = 1
                AND CLSCD = 'Y'
        ORDER BY F_NO DESC
</select>

</mapper>