<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  >
    <title>주식거래정보</title>		
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/stckDlng/stckDlng.css}">  	
	<script type="text/javascript" th:src="@{/JS/utlt/com.js}"></script>  
	<script type="text/javascript" th:src="@{/JS/stckDlng/stckDlng.js}"></script>
</head>
<body>
<h4>
   <ul class="nav flex-column" th:replace="view/layout/menuBar.html"></ul>
</h4>
	
	
	<p>등록영역</p>
	<div class="button-container">	    
	     <form id="stckInfoForm" th:action="@{/stckDlng/stckDlngInsert.do}" method="post"><!-- th:action="@{/stckInfo/stckInfoInsert.do}" method="post"-->
			<table>			
				<thead>
					<tr>				
						<th>구분		</th>
						<th>매수여부	</th>
						<th>거래일자	</th>							
						<th>주식명	</th>			
						<th>주식티커	</th>
						<th>주식수	</th>
						<th>배당주기	</th>					
						<th>배당금	</th>
						<th>		</th>
					</tr>				
				</thead>
				<tbody>
					<tr>				
						<td>					<!--구분 -->
							<select name="CMPR" id="CMPR">
							  <option value="1">연금저축</option>							
							  <option value="2">퇴직연금</option>						  
							  <option value="3">일반계좌</option>
							</select>
						</td>
						<td>					<!--매수여부 -->
							<input type="checkbox"   id="BYNGYN"   name="BYNGYN" >
						</td>
						<td>					<!--거래일자 -->
							<input type="date"       id="DLNGYMD"   name="DLNGYMD">	
						</td>		
						<td>					<!--주식명 -->
							<!--<input type="text" placeholder="주식명"	    id="STCNM"   name="STCNM">	-->
							<select id="STCNM_SELECT_BOX"  name="STCNM_SELECT_BOX" onchange="updateDividendCycle01()">
								<option value="">선택</option>
								<th:block th:if="${stckInfoInq.size() != 0}">
									<option th:each="stckList : ${stckInfoInq}" th:value="${stckList.STCNM}" th:text="${stckList.STCNM}">
								</th:block>
							</select>
						</td>
						<td>					<!--주식티커 -->
							<!--<input type="text"       id="TIKER"   name="TIKER">-->	
							<select id="TIKER_SELECT_BOX"  name="TIKER_SELECT_BOX" 						disabled>
								<option value="">선택</option>
								<th:block th:if="${stckInfoInq.size() != 0}">
									<option th:each="stckList : ${stckInfoInq}" th:value="${stckList.TIKER}" th:text="${stckList.TIKER}">
								</th:block>
							</select>
						</td>
						<td>					<!--수량 -->
							<input type="text" placeholder="주식수"	    id="STCKCNT"   name="STCKCNT">	
						</td>
						<td>					<!--배당주기 -->
							<!--<input type="text"     id="DVDNCYC"   name="DVDNCYC">-->	
							<!--<input type="text" placeholder="주식명"	    id="STCNM"   name="STCNM">	-->
							<select id="DVDNCYC_SELECT_BOX"  name="DVDNCYC_SELECT_BOX" disabled>
								<option value="">선택</option>
								<th:block th:if="${stckInfoInq.size() != 0}">
									<option th:each="stckList : ${stckInfoInq}" th:value="${stckList.DVDNCYC}" th:text="${stckList.DVDNCYC}">
								</th:block>
							</select>
						</td>					
						<td>					<!--배당금 -->
						<select id="DVDN_SELECT_BOX"  name="DVDN_SELECT_BOX" disabled>
							<option value="">선택</option>
							<th:block th:if="${stckInfoInq.size() != 0}">
								<option th:each="stckList : ${stckInfoInq}" th:value="${stckList.DVDN}" th:text="${stckList.DVDN}">
							</th:block>
						</select>
						</td>				
							<input type="hidden" value="Y" id="USEYN" name="USEYN"> <!--사용여부-->            
							<input type="hidden" value="N"id="DELYN" name="DELYN"> <!--삭제여부-->
						<td>					<!--onclick="register()"-->
							<input type="submit"  value="등록"> 
						</td>
					</tr>
				</tbody>
			</table>
			
	    </form>
	</div>	
	
   <p>검색영역</p>
   <div class="search-container">   
	   <form class="form01"  th:action="@{/stckDlng/stckDlngSelect.do}" method="get">      
		   <div >
			<select name="S_CMPR" id="S_CMPR" 		class="custom-select">
			  <option value="1" 			  th:selected="'1' == ${parameter?.S_CMPR}">연금저축</option>							
			  <option value="2" 			  th:selected="'2' == ${parameter?.S_CMPR}">퇴직연금</option>						  
			  <option value="3" 			  th:selected="'3' == ${parameter?.S_CMPR}">일반계좌</option>
			</select>
			<select name="S_BYNGYN" id="S_BYNGYN" 		class="custom-select">
			  <option value="Y">매수</option>							
			  <option value="N">매도</option>						  
			</select>
			  <input type="text" id="S_STCNM" name="S_STCNM" placeholder="주식명" class="search-input">
			  <input type="text" id="search-box" name="S_DVDNCYC" placeholder="배당주기" class="search-input">
		      <button onclick="search()" class="search-button">검색</button>
		   </div>
		 </form>   
   </div>
   
   
   <p>조회영역</p>
	<div id="stckDlngSelect" class="tab-content">
	   <table 		id='stckDlngSelect'>
	       <thead>
	           <tr>
	               <th>순번</th>				
				   <th name="U_CMPR">구분</th>
	               <th name="U_BYNGYN">매수여부</th>
	               <th name="U_DLNGYMD">거래일자</th>
	               <th name="U_STCNM_SELECT_BOX">주식명</th>
	               <th name="U_STCKCNT">수량</th>
	               <th name="U_DVDNCYC">배당주기</th>
	               <th name="U_DVDN">배당금</th>
	               <th name="U_DLNGAMT">1년치 배당(예상)</th>				   
				   <th  style="width: 140px;">구분</th>
	               <th>등록일자</th>
	               <th>수정일자</th>
	           </tr>
	       </thead>
	       <tbody>
	           <tr th:each="stckDlng : ${stckDlngSelect}">			
					<td th:text="${stckDlng.ROW_}">  <!-- 순번		  -->   
					</td>				
					<td>  <!-- 구분		  -->   					
						<!--<input type="text" th:value="${sSelect.CMPR}"/>-->
						<select class="update-select"  name="U_CMPR" id="U_CMPR">
						  <option value="1"	th:selected="'1' == ${stckDlng.CMPR}" >연금저축</option>							
						  <option value="2"	th:selected="'2' == ${stckDlng.CMPR}" >퇴직연금</option>						  
						  <option value="3"	th:selected="'3' == ${stckDlng.CMPR}" >일반계좌</option>
						</select>
					</td>
					<td>  <!-- 매수여부	  -->   					
						<!--<input type="text" th:value="${sSelect.BYNGYN}"/>-->
						<!--<input type="checkbox" id="U_BYNGYN" name="U_BYNGYN" th:checked="${stckDlng.BYNGYN} == 'Y'">-->
						<select class="update-select"  name="U_BYNGYN" id="U_BYNGYN">
						  <option value="Y"	th:selected="'Y' == ${stckDlng.BYNGYN}" >매수</option>							
						  <option value="N"	th:selected="'N' == ${stckDlng.BYNGYN}" >매도</option>						  
						</select>
					</td>
					<td>  <!-- 거래일자	  -->   					
						<!--<input type="DATE" th:value="${sSelect.DLNGYMD}"/>-->
						<input class="update-date" type="date" id="U_DLNGYMD" name="U_DLNGYMD" th:value="${#dates.format(stckDlng.DLNGYMD, 'yyyy-MM-dd')}" />
					</td>
					<td >  <!-- 주식명	      -->						
						<!--<input type="text" th:value="${stckDlng.STCNM}"/>-->
						<select class="update-select"   id="U_STCNM_SELECT_BOX" name="U_STCNM_SELECT_BOX" onchange="updateDividendCycle03(event)">
							<option value="">선택</option>
							<th:block th:if="${stckInfoInq.size() != 0}">
								<option th:each="stckList : ${stckInfoInq}" th:value="${stckList.STCNM}" th:text="${stckList.STCNM}"
								th:selected="${stckList.STCNM} == ${stckDlng.STCNM}">
							</th:block>
						</select>
					</th>
					<td>  <!-- 수량		  -->   					
						<input type="text" class="update-input"	id="U_STCKCNT" name="U_STCKCNT" th:value="${stckDlng.STCKCNT}"/>
					</td>
					<td>  <!-- 배당주기	  -->   					
						<input type="text" class="update-input"id="U_DVDNCYC" name="U_DVDNCYC" 	th:value="${stckDlng.DVDNCYC}"						disabled/>
					</td>                                           
					<td>  <!-- 배당금	      -->	                			
						<input type="text" class="update-input" id="U_DVDN" name="U_DVDN" th:value="${stckDlng.DVDN}"		disabled/>
					</th>                                           
					<td>  <!-- 1년치 배당	  -->                    		
						<input type="text" class="update-input"		id="U_DLNGAMT" 		name="U_DLNGAMT"	th:value="${stckDlng.DLNGAMT}" disabled/>   
					</td>
					<td>
						<input type="button" value="수정" onclick="rowUpdateClicked01('#stckDlngSelect', this, 'N')" class="	update-button">
						/
						<input type="button" value="삭제" onclick="rowUpdateClicked01('#stckDlngSelect', this, 'Y')" class="	delete-button">
					</td>
					<td th:text="${stckDlng.REGYMD}">  <!-- 등록일자	  -->					
					</td>
					<td th:text="${stckDlng.MDFCNYMD}">  <!-- 수정일자	  -->					
					</td>
	           </tr>
	       </tbody>
	   </table>
	   
	   <br>
	</div>
	<br>
	<p th:text="${parameter}"></p>
<!-- 페이징 처리 -->
	            <!--<nav aria-label="Page navigation example" th:if="${!#lists.isEmpty(parameter)}">
	                <ul class="pagination justify-content-center">
	                 맨 처음 페이지로 이동하는 버튼 
	                <li class="page-item">
	                    <span th:if="${pageVo.startPage > 1}">
	                    <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPage?page=1'+ '&S_CMPR=' +${parameter?.S_CMPR} + '&U_BYNGYN=' + ${parameter?.U_BYNGYN}}" th:text="'처음'"></a>
	                    </span>
	                </li>
	                 이전 블록으로 이동하는 버튼 
	                <li class="page-item">
	                    <span th:if="${pageVo.isPrev == true}">
	                    <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPage?page=' + ${pageVo.startPage - 1} + '&S_CMPR=' +${parameter?.S_CMPR} + '&U_BYNGYN=' + ${parameter?.U_BYNGYN}}" th:text="'이전'"></a>
	                    </span>
	                </li>
	                 시퀀스 보여주는 값을 변경. 
	                <li class="page-item" th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}">
	                    <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPage?page=' + ${pageNum}+ '&S_CMPR=' +${parameter?.S_CMPR} + '&U_BYNGYN=' + ${parameter?.U_BYNGYN}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
	                </li>
	                <li class="page-item">
	                 다음 블록으로 이동하는 버튼 
	                <span th:if="${pageVo.isNext == true}">
	                    <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPage?page=' + ${pageVo.endPage + 1}+ '&S_CMPR=' +${parameter?.S_CMPR} + '&U_BYNGYN=' + ${parameter?.U_BYNGYN}}" th:text="'다음'"></a>
	                </span>
	                </li>
	                 맨 뒷 페이지로 이동하는 버튼 
	                <li class="page-item">
	                    <span th:if="${pageVo.endPage < pageVo.totalPageCount}">
	                    <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPage?page=' + ${pageVo.totalPageCount}+ '&S_CMPR=' +${parameter?.S_CMPR} + '&U_BYNGYN=' + ${parameter?.U_BYNGYN}}" th:text="|&emsp;끝|"></a>
	                    </span>
	                    <a th:href="@{'/bank/bankList?searchType='+${pageVo.searchType} +'&keyword='+${pageVo.keyword}+'&page='+${pageVo.totalPageCount}}" th:text="|&emsp;끝|"></a>
	                </li>
	                </ul>
	            </nav>			-->	
<!-- 페이징 처리 -->
	
</body>
</html>
