<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- com.bank.transaction.mapper.stckInfo(주식정보) -->
<mapper namespace="com.bank.transaction.mapper.weeklyAllocation.WeeklyAllocationMapper">

<!-- 주간 배당 내역-->
<select id = "weeklyAllocationList"  resultType="Map" parameterType="Map" >
     			SELECT		/* SQL_ID : WeeklyAllocationMapper.weeklyAllocationList ::: 주간 배당 내역 */
	                *
	            FROM
	                (
		                SELECT
		                    *
		                FROM
                    	(

							            SELECT 
							               ROW_NUMBER() OVER ( ORDER BY TRNSCDATE DESC,       STOCK_NAME) AS NO_,
							               to_char(TRNSCDATE, 'YYYY-MM-DD') AS TRNSCDATE,
							               STOCK_NAME,
							               AMOUNT,
							               RGSTDATE,
							               DIVIDEND,
							               COUNT(*) OVER() AS totalPages,
							               SUM(AMOUNT) OVER() AS TOTAL
							            FROM
							                 TRANSACTION
							            WHERE
							                        1 = 1
									 	<if test="(S_STCNM!=null) and (!''.equals(S_STCNM)) and (!'null'.equals(S_STCNM))">
                                                AND STOCK_NAME LIKE '%'|| #{S_STCNM} ||'%'    /*주식명*/
										</if>
							          	<if test="(!'null'.equals(S_START_YMD)) and (!'null'.equals(S_END_YMD))">
											 <choose>
										            <when test="(S_START_YMD != null) and (!''.equals(S_START_YMD)) and (S_END_YMD != null) and (!''.equals(S_END_YMD))"> 
										        AND TRNSCDATE BETWEEN  TO_DATE(#{S_START_YMD} , 'YYYY-MM-DD') AND TO_DATE(#{S_END_YMD} , 'YYYY-MM-DD')
										            </when>
										            <when test="(S_START_YMD != null) and (!''.equals(S_START_YMD))"> 
										        AND A.TRNSCDATE  <![CDATA[ >= ]]> TO_DATE(#{S_START_YMD} , 'YYYY-MM-DD') 
										            </when>
										            <when test="(S_END_YMD != null) and (!''.equals(S_END_YMD))"> 
										        AND A.TRNSCDATE  <![CDATA[ >= ]]> TO_DATE(#{S_END_YMD} , 'YYYY-MM-DD') 
										            </when>
											</choose>
									    </if>
                    	)
                WHERE
                    NO_  <![CDATA[ <=  ]]>  (#{page} * #{rowCount})
                       )
                WHERE (((#{page}-1) * #{rowCount}) + 1) <![CDATA[  <=	]]>   NO_
</select>


<!-- 주간 배당 엑셀 내역-->
<select id = "weeklyAllocationDownloadExcel"  resultType="Map" parameterType="Map" >
        SELECT  /* SQL_ID : WeeklyAllocationMapper.weeklyAllocationDownloadExcel ::: 주간 배당 내역 */
            ROW_NUMBER() OVER(ORDER BY TRNSCDATE)                           AS NO_  /*순번*/
            ,to_char(TRNSCDATE, 'YYYY-MM-DD') AS TRNSCDATE                          /*배당일*/
            ,STOCK_NAME                                                             /*주식명*/
            ,AMOUNT                                                                 /*금액*/
            ,NVL(DIVIDEND,0) AS DIVIDEND                                            /*배당금*/
        FROM
              TRANSACTION
         WHERE
                     1 = 1
         <if test="(S_STCNM!=null) and (!''.equals(S_STCNM)) and (!'null'.equals(S_STCNM))">
                 AND STOCK_NAME LIKE '%'|| #{S_STCNM} ||'%'    /*주식명*/
         </if>
         <if test="(!'null'.equals(S_START_YMD)) and (!'null'.equals(S_END_YMD))">
              <choose>
                     <when test="(S_START_YMD != null) and (!''.equals(S_START_YMD)) and (S_END_YMD != null) and (!''.equals(S_END_YMD))"> 
                 AND TRNSCDATE BETWEEN  TO_DATE(#{S_START_YMD} , 'YYYY-MM-DD') AND TO_DATE(#{S_END_YMD} , 'YYYY-MM-DD')
                     </when>
                     <when test="(S_START_YMD != null) and (!''.equals(S_START_YMD))"> 
                 AND A.TRNSCDATE  <![CDATA[ >= ]]> TO_DATE(#{S_START_YMD} , 'YYYY-MM-DD') 
                     </when>
                     <when test="(S_END_YMD != null) and (!''.equals(S_END_YMD))"> 
                 AND A.TRNSCDATE  <![CDATA[ >= ]]> TO_DATE(#{S_END_YMD} , 'YYYY-MM-DD') 
                     </when>
             </choose>
         </if>

</select>
</mapper>