<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  >
    <title>거래정보</title>        
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/allocation/allocation.css}">        
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/com/modal.css}">        
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/com/com.css}">    
    <script type="text/javascript" th:src="@{/JS/utlt/modal.js}"></script>    
    <script type="text/javascript" th:src="@{/JS/utlt/com.js}"></script>  
    <script type="text/javascript" th:src="@{/JS/allocation/allocation.js}"></script>  
    <!--차트-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">
      window.onload = function(){
        const data = /*[[${aSelect}]]*/;
        var parameter = /*[[${parameter}]]*/;
        //console.log(parameter.month);
        if(!isEmpty(data)) allocationBarChart(data,parameter.month);
      }
    
    </script>
</head>
<body>
    <h4>
        <ul class="nav flex-column" th:replace="view/layout/menuBar.html"></ul>
    </h4>
    
    <div class="container01"> 
    <div class="div_title01">검색영역</div>
        <div class="div_body01" style="position: relative;">
            <form class="form02"  th:action="@{/allocation/allocationSearch.do}" method="get">
                <label for="년도">년도 :</label>
                <select name="year">
                    <option value="null">전체</option>                    
                    <th:block th:if="${'null' != parameter.year}">                    
                        <option th:each="i : ${#numbers.sequence(2020, #dates.year(#dates.createNow()))}"
                               th:value="${i}" th:text="${i}"
                               th:selected="${parameter != null and i == T(java.lang.Integer).parseInt(parameter.year)}">
                        </option>
                    </th:block>
                    <th:block th:if="${'null' == parameter.year}">                    
                        <option th:each="i : ${#numbers.sequence(2020, #dates.year(#dates.createNow()))}"
                               th:value="${i}" th:text="${i}">
                        </option>
                    </th:block>
                </select>
                <label for="월">월 :</label>
                <select name="month">
                    <option value="null">전체</option>
                    <th:block th:if="${'null' != parameter.month}">
                        <option th:each="i : ${#numbers.sequence(1, 12)}" 
                               th:value="${i}" 
                               th:text="${i + '월'}"
                               th:selected="${parameter != null and i == T(java.lang.Integer).parseInt(parameter?.month)}">
                        </option>
                    </th:block>
                    <th:block th:if="${'null' == parameter.month}">
                        <option th:each="i : ${#numbers.sequence(1, 12)}" 
                               th:value="${i}" 
                               th:text="${i + '월'}">
                        </option>
                    </th:block>
<!--                    <th:block th:if="${'null' != parameter}">                    
                        <option th:each="i : ${#numbers.sequence(1, 12)}" 
                               th:value="${i}" 
                               th:text="${i + '월'}"
                               th:selected="${parameter != null and i == T(java.lang.Integer).parseInt(parameter?.month)}">
                        </option>
                    </th:block>
                    <th:block th:if="${'null' == parameter}">                    
                        <option th:each="i : ${#numbers.sequence(1, 12)}" 
                               th:value="${i}" 
                               th:text="${i + '월'}">
                        </option>
                    </th:block>-->
                </select>
                <label for="주식명">주식명 :</label>
                <input name="stockName"type="text" class="full-width-input02" >                
                &nbsp;                &nbsp;                &nbsp;
                <button  class="search-button">검색</button><!--                    onclick="search()"-->
            </form>
              <button  class="insert-button" style="transform: translateY(45%); height: 30px;" onclick="fn_openPop();">등록</button><!--                    onclick="search()"-->
        </div>
    </div>
    
    <div class="container01">    
        <div class="div_title01">조회영역</div>          
            <div class="div_body01">
                    <div  class="div_menu" style="display: inline-block;">
                        <table>
                            <tr>
                                <td>년도</td>
                            </tr>
                            <tr>
                                <td>종목</td>
                            </tr>
                            <tr>
                               <td>01월</td>
                            </tr>
                            <tr>
                               <td>02월</td>
                            </tr>
                            <tr>
                               <td>03월</td>
                            </tr>
                            <tr>
                               <td>04월</td>
                            </tr>
                            <tr>
                               <td>05월</td>
                            </tr>
                            <tr>
                               <td>06월</td>
                            </tr>
                            <tr>
                               <td>07월</td>
                            </tr>
                            <tr>
                               <td>08월</td>
                            </tr>
                            <tr>
                               <td>09월</td>
                            </tr>
                            <tr>
                               <td>10월</td>
                            </tr>
                            <tr>
                               <td>11월</td>
                            </tr>
                            <tr>
                               <td>12월</td>
                            </tr>
                        </table>
                    </div>
                    <div class="div_container_main" style="overflow-x: auto; white-space: nowrap;">
                        
                        <div th:each="aSelect : ${aSelect}" class="div_content">
                            
                            <table>
                               <tr>
                                   <td th:text="${aSelect.TRNSCDATE}">년도</td>
                               </tr>
                               <tr>
                                   <td  th:text="${aSelect.STOCK_NAME}">종목</td>
                               </tr>                               
                               <tr>
                                 <td th:text="${aSelect.JANUARY}"   th:classappend="${aSelect.JANUARY   eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'01')">01</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.FEBRUARY}"  th:classappend="${aSelect.FEBRUARY  eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'02')">02</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.MARCH}"     th:classappend="${aSelect.MARCH     eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'03')">03</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.APRIL}"     th:classappend="${aSelect.APRIL     eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'04')">04</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.MAY}"       th:classappend="${aSelect.MAY       eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'05')">05</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.JUNE}"      th:classappend="${aSelect.JUNE      eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'06')">06</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.JULY}"      th:classappend="${aSelect.JULY      eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'07')">07</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.AUGUST}"    th:classappend="${aSelect.AUGUST    eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'08')">08</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.SEPTEMBER}" th:classappend="${aSelect.SEPTEMBER eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'09')">09</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.OCTOBER}"   th:classappend="${aSelect.OCTOBER   eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'10')">10</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.NOVEMBER}"  th:classappend="${aSelect.NOVEMBER  eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'11')">11</td>
                               </tr>
                               <tr>
                                 <td th:text="${aSelect.DECEMBER}"  th:classappend="${aSelect.DECEMBER  eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect}]],'12')">12</td>
                               </tr>
                            </table>
<!--                            <div th:text="${aSelect.TRNSCDATE}"    ></div>
                            <div th:text="${aSelect.STOCK_NAME}" ></div>
                            <div th:text="${aSelect.JANUARY}"   th:classappend="${aSelect.JANUARY   eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '01')"></div>
                            <div th:text="${aSelect.FEBRUARY}"  th:classappend="${aSelect.FEBRUARY  eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '02')"></div>
                            <div th:text="${aSelect.MARCH}"     th:classappend="${aSelect.MARCH     eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '03')"></div>
                            <div th:text="${aSelect.APRIL}"     th:classappend="${aSelect.APRIL     eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '04')"></div>
                            <div th:text="${aSelect.MAY}"       th:classappend="${aSelect.MAY       eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '05')"></div>
                            <div th:text="${aSelect.JUNE}"      th:classappend="${aSelect.JUNE      eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '06')"></div>
                            <div th:text="${aSelect.JULY}"      th:classappend="${aSelect.JULY      eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '07')"></div>
                            <div th:text="${aSelect.AUGUST}"    th:classappend="${aSelect.AUGUST    eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '08')"></div>
                            <div th:text="${aSelect.SEPTEMBER}" th:classappend="${aSelect.SEPTEMBER eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '09')"></div>
                            <div th:text="${aSelect.OCTOBER}"   th:classappend="${aSelect.OCTOBER   eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '10')"></div>
                            <div th:text="${aSelect.NOVEMBER}"  th:classappend="${aSelect.NOVEMBER  eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '11')"></div>
                            <div th:text="${aSelect.DECEMBER}"  th:classappend="${aSelect.DECEMBER  eq 0} ? container-disable : container-able" th:onclick="fn_openPop( [[${aSelect.STOCK_NAME}]],  [[${aSelect.TRNSCDATE}]], '12')"></div>-->
                        </div>
            </div>
      </div>
      <!-- 바차트 시작-->
        <br>
        <div  th:if="${!#lists.isEmpty(aSelect)}" class="container padding_30" >
          <canvas id="bar_chart"></canvas>
        </div>
        <!-- 바차트 종료-->
    </div><!--   container01 end -->
    
    
    
    
    
    <!-- 레이이어 팝업 시작-->
    <div class="popup_layer001 padding_20" id="popup_layer" style="display: none;">
         <div class="popup_box001">
             <!--팝업 컨텐츠 영역-->
             <div class="popup_cont001">
               <header class="header002 h40">
                 <h1 id="t_stockName" style="font-size: 10px;;"></h1>                    
                 <span class="close001" onclick="fn_closePop()">&times;</span>
               </header>
               <main class="main001">
                   <table>
                           <tr>
                               <td class="w80">주식 명</td>
                               <td id="s_stockName">
                                 <!--<input name="u_stockName" id="u_stockName" type="text" class="full-width-input02 w100_" value="">-->
                                 <select name="u_stockName" id="u_stockName" class="full-width-input w100_">
                                 </select>                                
                                 <input type="hidden" id="tNo" >
                               </td>
                           </tr>
                           <tr>
                               <td>거래일자</td>
                               <td id="s_trnscdate">
                                  <input type="date" id="u_trnscdate" class="full-width-input03_data " style="width:97%">
                               </td>
                           </tr>                        
                           <tr>
                              <td>배당금</td>
                              <td id="s_dividend">
                                <input type="text" id="u_dividend" name="u_dividend" class="full-width-input02 w100_" value="">
                              </td>
                           </tr>
                           <tr>
                              <td>거래금액</td>
                              <td id="s_amont">
                                  <input type="text" id="u_amont" name="u_amont" class="full-width-input02 w100_" value="">
                              </td>
                           </tr>
                           <tr>
                              <td>파일명</td>
                              <td id="s_fileName">
                                    <!-- 숨긴 실제 input -->
                                    <input type="file" id="I_FILE" name="I_FILE" accept="image/*"
                                           onchange="readURL(this, 'I_IMG');"
                                           style="display: none;" />
                                    
                                    <!-- 사용자용 버튼 -->
                                    <button type="button" onclick="document.getElementById('I_FILE').click();">
                                      파일 선택
                                    </button>
                                    
                                    <!-- 파일명 표시용 -->
                                    <span id="I_FILENAME_TEXT">선택된 파일 없음</span>
                              </td>
                           </tr>                          
                          <tr>
                            <td>이미지</td>
                            <td id="imge1">                            
                                <img id="I_IMG" style="min-height : 300px; max-height : 300px; width : 100%;">
                            </td>
                          </tr>
                   </table>
               </main>  
       
             </div>
             <footer class="footer001">
             <!--팝업 버튼 영역-->
             <div class="popup_btn001" >
                 <input id="btn_insert" type="button" class="update-button001" onclick="allocationInsert01();" value="저장"/>                
                 <input id="btn_update" type="button"  class="update-button001" onclick="allocationUpdate01();" value="수정"/>
                 <input type="button" class="close-button001"  onclick="fn_closePop()" value="닫기"/>
             </div>
             </footer>
         </div>
       </div>
    <!-- 레이이어 팝업 종료-->
</body>
</html>
