<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  >
    <title>주식정보</title>		
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/weeklyAllocation/weeklyAllocation.css}">    
	<script type="text/javascript" th:src="@{/JS/weeklyAllocation/weeklyAllocation.js}"></script>  
</head>
<body>
	<h4>
        <ul class="nav flex-column" th:replace="view/layout/menuBar.html"></ul>
    </h4>
	
	<div class="container01"> 
	<div class="div_title01">검색영역</div>  
	   <form class="form02"  th:action="@{/weeklyAllocation/WeeklyAllocationSelectPage.do}" method="get">      
			<label for="기준일자">기준일자 :</label>
			<input type="date" id="S_START_YMD" name="S_START_YMD" class="full-width-input02" th:value="${not #strings.isEmpty(parameter?.S_START_YMD)} ? ${parameter?.S_START_YMD} : ${#temporals.format(#temporals.createNow().minusDays(6), 'yyyy-MM-dd')}">
				<span>~</span>
			<input type="date" id="S_END_YMD" name="S_END_YMD" class="full-width-input02" th:value="${not #strings.isEmpty(parameter?.S_END_YMD)} ? ${parameter?.S_END_YMD} : ${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}">
			<label for="주식명">주식명 :</label>
			<input type="text" id="S_STCNM" name="S_STCNM" placeholder="주식명" class="full-width-input  w300" th:value="${parameter?.S_STCNM}">
			<button  class="search-button">검색</button><!--					onclick="search()"-->
		 </form>
         <input type="button" value="엑셀 다운로드" onclick="fn_ExcelDownload()" class="update-button">
	</div>
<!--	<button onclick="downloadExcel()">엑셀다운로드</button>	
	<button onclick="showModal('성공')">모달 열기</button>-->
	
	
	<div class="container01">	
	<div class="div_title01">조회영역</div>  		
	  <div class="div_body01">
		<table>
			<thead>
				<tr>
					<th>순번   </th>
					<th>배당일  </th>
					<th>주식명  </th>
					<th>배당금  </th>
					<th>금액   </th>					
					<th>등록일  </th>
				</tr>
			</thead>
			<tbody th:if="${!#lists.isEmpty(byWeekList)}">
				<tr  th:each="byWeekList : ${byWeekList}">
					<td th:text="${byWeekList.NO_}">      </td>   <!-- 순번   -->
					<td th:text="${byWeekList.TRNSCDATE}"> </td>   <!-- 배당일  -->
					<td th:text="${byWeekList.STOCK_NAME}"> </td>  <!-- 주식명  -->
					<td th:text="${byWeekList.DIVIDEND}">   </td>  <!-- 배당금  -->
					<td th:text="${byWeekList.AMOUNT}">     </td>  <!-- 금액   -->
					<td th:text="${byWeekList.RGSTDATE}">   </td>  <!-- 등록일  -->
				</tr>
			</tbody>
		</table>

		<th:block 	th:if="${!#lists.isEmpty(byWeekList)}">
			<!-- 페이징 처리 -->
			<nav aria-label="Page navigation example" >
			    <ul class="pagination justify-content-center">
			     <!--맨 처음 페이지로 이동하는 버튼 -->
			    <li class="page-item">
			        <span th:if="${pageVo.startPage > 1}">
			        <a class="page-link" th:href="@{'/weeklyAllocation/WeeklyAllocationSelectPage.do?page=1' + '&S_START_YMD=' +${parameter?.S_START_YMD} + '&S_END_YMD=' +${parameter?.S_END_YMD} +				'&S_STCNM=' + ${parameter?.S_STCNM}}" th:text="'처음'"></a>
			        </span>
			    </li>
			     <!--이전 블록으로 이동하는 버튼 -->
			    <li class="page-item">
			        <span th:if="${pageVo.isPrev == true}">
			        <a class="page-link" th:href="@{'/weeklyAllocation/WeeklyAllocationSelectPage.do?page=' + ${pageVo.startPage - 1} + '&S_START_YMD=' +${parameter?.S_START_YMD} + '&S_END_YMD=' +${parameter?.S_END_YMD} + 				'&S_STCNM=' + ${parameter?.S_STCNM}}" th:text="'이전'"></a>
			        </span>
			    </li>
			     <!--시퀀스 보여주는 값을 변경. -->
			    <li class="page-item" th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}">
			        <a class="page-link" th:href="@{'/weeklyAllocation/WeeklyAllocationSelectPage.do?page=' + ${pageNum} + '&S_START_YMD=' +${parameter?.S_START_YMD} + '&S_END_YMD=' +${parameter?.S_END_YMD} + 			'&S_STCNM=' + ${parameter?.S_STCNM}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
			    </li>
			    <li class="page-item">
			     <!--다음 블록으로 이동하는 버튼--> 
			    <span th:if="${pageVo.isNext == true}">
			        <a class="page-link" th:href="@{'/weeklyAllocation/WeeklyAllocationSelectPage.do?page=' + ${pageVo.endPage + 1} + '&S_START_YMD=' +${parameter?.S_START_YMD} + '&S_END_YMD=' +${parameter?.S_END_YMD} +			'&S_STCNM=' + ${parameter?.S_STCNM}}" th:text="'다음'"></a>
			    </span>
			    </li>
			     <!--맨 뒷 페이지로 이동하는 버튼 -->
			    <li class="page-item">
			        <span th:if="${pageVo.endPage < pageVo.totalPageCount}">
			        <a class="page-link" th:href="@{'/weeklyAllocation/WeeklyAllocationSelectPage.do?page=' + ${pageVo.totalPageCount} +'&S_START_YMD=' +${parameter?.S_START_YMD} + '&S_END_YMD=' +${parameter?.S_END_YMD} + 				'&S_STCNM=' + ${parameter?.S_STCNM} }" th:text="|&emsp;끝|"></a>
			        </span>
			    </li>
			    </ul>
			</nav>		
			<!-- 페이징 처리 -->
		</th:block>
	  </div>
	</div>
	

	
</body>
</html>
