<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.transaction.mapper.hldStckCls.HldStckClsMapper">

<select id = "selectHldStckClsList"  resultType="Map" parameterType="Map">
    SELECT
        /* HldStckClsMapper.selectHldStckClsList */
        B.NO                                          /*순번*/
       ,NVL(B.STOCK_NAME,A.STCNM ) AS STOCK_NAME      /*주식명*/
       ,NVL(B.STOCK_QUANTITY, 0)   AS STOCK_QUANTITY  /*주식보유수*/
       ,A.DVDNCYC                  AS DIVIDEND_CYCLE  /*배당주기*/
       ,NVL(B.PURCHASE_PRICE,0)    AS PURCHASE_PRICE  /*매입금*/
       ,NVL(C.DIVIDEND, A.DVDN)    AS DIVIDEND_AMOUNT /*배당금*/
       ,B.REGYMD                   AS RGSTDATE        /*등록일자*/
       ,B.MDFCNYMD                                    /*수정일자*/
    FROM
        STOCKINFORMATION       A /*주식정보*/
    LEFT JOIN STC_RGST_DTLS    B /*주식 등록 내역*/
     ON (   A.TIKER = B.TIKER
        AND B.DELYN = 'N' )
    LEFT JOIN (
                    SELECT * FROM 
                     (
                             SELECT
                                     ROW_NUMBER() OVER(PARTITION BY TIKER ORDER BY TRNSCDATE DESC) AS RNK,
                                     TIKER,
                                     AMOUNT,
                                     DIVIDEND
                             FROM
                                     TRANSACTION
                     ) W 
                             WHERE RNK = 1
                ) C
     ON (A.TIKER = C.TIKER)
    WHERE 1=1
      AND A.DELYN  = 'N'
      AND A.USEYN  = 'Y'
                    <if test='stockName != null and stockName != "" '>
                            AND A.STCNM = #{stockName}
                    </if>
                    <if test='dividendCycle != null and dividendCycle != "" '>
                            AND (A.DVDNCYC like #{dividendCycle} || '%'
                              OR A.DVDNCYC = '월'
                            )
                    </if>
    ORDER BY DECODE(TO_NUMBER(REGEXP_REPLACE(B.STOCK_QUANTITY,'[[:punct:]]','')), 0, 999, 0), (CASE WHEN REGEXP_LIKE(A.TIKER, '^[0-9]+$') THEN 2 ELSE 1 END), A.STCNM
</select>



<!-- 주식 상세 조회-->
<select id = "hldStckClsDetail"  resultType="Map" parameterType="Map" >
              <![CDATA[  
                SELECT /* HldStckClsMapper.hldStckClsDetail : 주식 상세 조회 */
                        A.STOCK_NAME AS STOCK_NAME ,               /*주식명*/
                        A.STOCK_QUANTITY,                          /*주식보유수*/
                        A.PURCHASE_PRICE,                          /*매입금 */
                        REGEXP_REPLACE(A.STOCK_QUANTITY,'[[:punct:]]','') * A.PURCHASE_PRICE AS PURCHASE_PRICE_SUM, /*매입금(합계)*/
                        SUM(NVL(B.AMOUNT, 0)) AS AMOUNT                            /*배당금(누적)*/
                FROM
                     STC_RGST_DTLS  A
                   , TRANSACTION B
                WHERE 1=1
                  AND A.TIKER           = B.TIKER(+) 
                  /*AND A.STOCK_QUANTITY  >  0*/
                  AND A.STOCK_NAME      = #{stockName}
                  AND A.DELYN = 'N'
                GROUP BY
                        A.STOCK_NAME ,
                        A.STOCK_QUANTITY,
                        A.PURCHASE_PRICE
                 ]]>
</select>


<update id="hldStckClsUpdate" parameterType="Map" >
       UPDATE   /* HldStckClsMapper.hldStckClsUpdate : 주식 수정 */
                 STC_RGST_DTLS
         SET 
                 STOCK_NAME       =#{U_STOCK_NAME}       /*주식명*/
                ,STOCK_QUANTITY   =#{U_STOCK_QUANTITY}   /*주식보유수*/
                ,PURCHASE_PRICE   =#{U_PURCHASE_PRICE}   /*매입금*/
                ,DELYN            =#{U_CLSCD}
                ,MDFCNYMD         =sysdate
        WHERE NO = #{U_NO}
</update>


<insert id="hldStckClsInsert" parameterType="Map" >
    INSERT /* HldStckClsMapper.hldStckClsInsert*/
        INTO STC_RGST_DTLS
        (
             NO
            ,TIKER
            ,STOCK_NAME
            ,STOCK_QUANTITY 
            ,PURCHASE_PRICE 
            ,DELYN 
            ,REGYMD
            ,MDFCNYMD
         )
    VALUES(
        TRIM((SELECT TO_CHAR(MAX(TO_NUMBER(NO))+1, '0000000000000000000') FROM STC_RGST_DTLS))
        ,(SELECT MAX(TIKER) FROM STOCKINFORMATION WHERE STCNM  = #{U_STOCK_NAME}) /* 티커 */
        ,#{U_STOCK_NAME}         /*주식명*/
        ,#{U_STOCK_QUANTITY}     /*주식 보유 수*/
        ,#{U_PURCHASE_PRICE}       /*매입금*/
        ,'N'
        ,sysdate
        ,sysdate
       )
</insert>
</mapper>