<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  >
    <title>주식정보</title>		
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/stckInfo/stckInfo.css}">    		
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/com/modal.css}">    	
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/com/com.css}">    
    <script type="text/javascript" th:src="@{/JS/utlt/com.js}"></script>	
	<script type="text/javascript" th:src="@{/JS/com/modal.js}"></script>	
    <script type="text/javascript" th:src="@{/JS/stckInfo/stckInfo.js}"></script>
</head>
<body>
	<h4>
        <ul class="nav flex-column" th:replace="view/layout/menuBar.html"></ul>
    </h4>

	<div class="container01">	
		<div class="div_title01">등록영역</div>  		
		  <div class="div_body01">
			<form class="from02" id="stckInfoForm" ><!-- th:action="@{/stckInfo/stckInfoInsert.do}" method="post"-->
			<table>
				<thead>
					<tr>
						<th>주식티커</th>
						<th>주식명</th>
						<th>배당주기</th>
						<th>배당금</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
			    			<input type="text" placeholder="티커"	    id="TURN" class="full-width-input"   name="TIKER">
						</td>
						<td>		
			   				<input	type="text" placeholder="주식명"	id="STCNM" class="full-width-input"   name="STCNM">
						</td>
						<td>		
			   				<input type="text" placeholder="주기"    id="	DVDNCYC" class="full-width-input" name="DVDNCYC">
						</td>
						<td>		
			   				<input type="text" placeholder="배당금"	id="DVDN" class="full-width-input" name="DVDN">
						</td>
						<td>            
			           		<input type="hidden" value="Y" id="USEYN" name="USEYN"> <!--사용여부--> 
			           		<input type="hidden" value="N"id="DELYN" name="DELYN"> <!--삭제여부-->
			   				<input	 type="button" onclick="register('stckInfoForm')" value="등록">
						</td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>
	</div>
	
	<div class="container01">	
		<div class="div_title01">검색영역</div>  		
		  <div class="div_body01">
			<form class="form02"  th:action="@{/stckInfo/stckInfoViewPageSelect.do}" method="get">        
			    <input class="search-input " type="text" placeholder="티커"	id="TURN"   	name="TIKER" 	th:value="${parameter?.TIKER}">
			    <input class="search-input " type="text" placeholder="주식명"	id="STCNM"		name="STCNM" 	th:value="${parameter?.STCNM}">      
			    <input class="search-input " type="text" placeholder="주기"	id="DVDNCYC"	name="DVDNCYC" 	th:value="${parameter?.DVDNCYC}">	     
			    <input class="search-input " type="text" placeholder="배당금"	id="DVDN" 		name="DVDN"		th:value="${parameter?.DVDN}">
				<button	onclick="search()">검색</button>        
			</form>
		  </div>
    </div>
	<!--<p th:text="${stckInfoSelect}"></p>-->
	<button onclick="downloadExcel()">엑셀다운로드</button>
	<div class="container01">	
		<div class="div_title01">조회영역</div>  		
		  <div class="div_body01">
			<table     id='stckInfoSelect'>
			  <thead>
			      <tr>                
			          <th id="ROW_"             name="ROW_">순번</th>
			          <th id="TIKER"            name="TIKER">티커</th>
			          <th id="STCNM"            name="STCNM">주식명</th>
			          <th id="DVDNCYC"          name="DVDNCYC">주기</th>
			          <th id="DVDN"             name="DVDN">배당금</th>
			          <th id="USEYN"            name="USEYN">사용여부</th>
			          <th id="DELYN"            name="DELYN">삭제여부</th>                        
			          <th style="display: none;" id="TURN"  name="TURN">순번</th>              
			          <th id="btn"              name="btn">버튼</th>
			          <th id="REGYMD"           name="REGYMD">등록일자</th>
			          <th id="REGYMD"           name="REGYMD">수정일자</th>
			      </tr>
			  </thead>
			  <tbody>
			      <tr th:each="sSelect : ${stckInfoSelect}">                
			          <td th:text="${sSelect.ROW_}"></td>
			          <td ><input class="full-width-input" type="text" th:value="${sSelect.TIKER}" disabled></td>
			          <td ><input class="full-width-input" type="text" th:value="${sSelect.STCNM}"></td>
			          <td ><input class="full-width-input" type="text" th:value="${sSelect.DVDNCYC}"></td>
			          <td ><input class="full-width-input" type="text" th:value="${sSelect.DVDN}"></td>
			          <td ><input class="full-width-input" type="checkbox" th:value="${sSelect.USEYN}" th:checked="${sSelect.USEYN == 'Y'}"></td>
			          <td ><input class="full-width-input" type="checkbox" th:value="${sSelect.DELYN}" th:checked="${sSelect.DELYN == 'Y'}"></td>                              
			          <td style="display: none;"><input type="hidden" th:value="${sSelect.TURN}"></td><!--순번-->               
			          <td  ><input type="button" value="수정" onclick="rowUpdateClicked('#stckInfoSelect', this)"></td>
			          <td th:text="${sSelect.REGYMD}">               등록일자</td>               
			          <td th:text="${sSelect.MDFCNYMD}">               수정일자</td>
			      </tr>
			      <!-- Remaining rows omitted for brevity -->
			  </tbody>
			</table>

			<!-- 페이징 처리 -->
				<nav aria-label="Page navigation example" >
				    <ul class="pagination justify-content-center">
				     <!--맨 처음 페이지로 이동하는 버튼 -->
				    <li class="page-item">
				        <span th:if="${pageVo.startPage > 1}">
				        <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPageSelect.do?page=1'+ '&TIKER=' +${parameter?.TIKER} + '&STCNM=' + ${parameter?.STCNM} + '&DVDNCYC=' + ${parameter?.DVDNCYC}+ '&DVDN=' + ${parameter?.DVDN}}" th:text="'처음'"></a>
				        </span>
				    </li>
				     <!--이전 블록으로 이동하는 버튼 -->
				    <li class="page-item">
				        <span th:if="${pageVo.isPrev == true}">
				        <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPageSelect.do?page=' + ${pageVo.startPage - 1} + '&TIKER=' +${parameter?.TIKER} + '&STCNM=' + ${parameter?.STCNM} + '&DVDNCYC=' + ${parameter?.DVDNCYC}+ '&DVDN=' + ${parameter?.DVDN}}" th:text="'이전'"></a>
				        </span>
				    </li>
				     <!--시퀀스 보여주는 값을 변경. -->
				    <li class="page-item" th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}">
				        <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPageSelect.do?page=' + ${pageNum}+ '&TIKER=' +${parameter?.TIKER} + '&STCNM=' + ${parameter?.STCNM} + '&DVDNCYC=' + ${parameter?.DVDNCYC}+ '&DVDN=' + ${parameter?.DVDN}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
				    </li>
				    <li class="page-item">
				     <!--다음 블록으로 이동하는 버튼 -->
				    <span th:if="${pageVo.isNext == true}">
				        <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPageSelect.do?page=' + ${pageVo.endPage + 1}+ '&TIKER=' +${parameter?.TIKER} + '&STCNM=' + ${parameter?.STCNM} + '&DVDNCYC=' + ${parameter?.DVDNCYC}+ '&DVDN=' + ${parameter?.DVDN}}" th:text="'다음'"></a>
				    </span>
				    </li>
				     <!--맨 뒷 페이지로 이동하는 버튼 -->
				    <li class="page-item">
				        <span th:if="${pageVo.endPage < pageVo.totalPageCount}">
				        <a class="page-link" th:href="@{'/stckInfo/stckInfoViewPageSelect.do?page=' + ${pageVo.totalPageCount}+ '&TIKER=' +${parameter?.TIKER} + '&STCNM=' + ${parameter?.STCNM} + '&DVDNCYC=' + ${parameter?.DVDNCYC}+ '&DVDN=' + ${parameter?.DVDN}}" th:text="|&emsp;끝|"></a>
				        </span>
				    </li>
				    </ul>
				</nav>	
			<!-- 페이징 처리 -->
		  </div>
	</div>

</body>
</html>
