table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

.full-width-input {
  width: 20%; /* Makes the input fill the width of the table cell */
  box-sizing: border-box; /* Ensures the input width includes padding and borders */
  padding: 8px; /* Optional: Add some padding inside the input */
  margin: 0; /* Removes margin */
  border: 1px solid #ccc; /* Adds a border to the input */
  border-radius: 4px; /* Optional: Adds a slight border radius */
}

.container01 {
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.div_title01 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f0; /* 타이틀 배경색 */
    border-bottom: 1px solid #ddd; /* 구분선 */
}
.form02 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.form02 label {
    font-size: 14px;
    font-weight: bold;
}
.form02 select,
.form02 input[type="date"],
.form02 button {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form02 button {
    background-color: #555;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
}
.form02 button:hover {
    background-color: #333;
}
.div_body01{
	margin: 10px;
}
