.div_body01 {
    display: flex; /* 자식 요소들을 수평으로 나열 */
}

.div_menu {
    display: flex;
    flex-direction: column; /* 세로 방향으로 나열 */
    margin-right: 20px; /* div_menu와 div_container_main 사이의 간격 조정 */
}

.div_container_main {
    overflow-x: auto; /* 가로 스크롤 가능 */
    white-space: nowrap; /* 내용이 한 줄로 나열되도록 설정 */
    width: 1800px; /* 너비 설정 */
}

.div_content {
    display: inline-block; /* 인라인 블록으로 설정하여 옆으로 나란히 배치 */
    margin: 10px; /* 각 div_content 사이의 간격 조정 */
    padding: 20px; /* 내부 여백 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 */
    min-width: 150px; /* 최소 너비 설정 */
}
.div_menu{
    display: inline-block; /* 인라인 블록으로 설정하여 옆으로 나란히 배치 */
    margin: 20px; /* 각 div_content 사이의 간격 조정 */
    padding: 20px; /* 내부 여백 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 */
    min-width: 50px; /* 최소 너비 설정 */
    min-height: 300px;
      /* 수평 중앙 정렬하기 */
    text-align: center;
}